.main {
    height: 100vh;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.gallery{
    width: 70%;
}

.cursor, .cursorLabel{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e3e171;
    color: white;
    position: fixed;
    z-index:3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;
}

.cursorLabel{
    background-color: transparent;
}

